@charset 'UTF-8';

.footer-pane {
    padding-bottom: 1em;
    background-image: url('/images/ellipse-ligthgreen.svg'),url('/images/ellipse-green.svg');
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: inherit;
    
    .footer-link {
        padding: 0 1.5em;

        &.copyright {
            padding-right: 0;
            color: $white;
        }
    }

    .footer-site-name {
        padding: 1.5em 0 1em;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.footer,
.footer-pane, {
    height: 89px;
}
