@charset 'UTF-8';

.footer-pane {
    padding-bottom: 1em;
    background-image: url('/images/ellipse-ligthgreen.svg'),url('/images/ellipse-green.svg');
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: inherit;
    background-color: var(--background);
    color: var(--text-primary);
    .footer-link {
        padding: 0 1.5em;

        &.copyright {
            padding-right: 0;
            color: $white;
        }
    }

    .footer-site-name {
        padding: 1.5em 0 1em;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.footerText{
    margin: 15px;
}

.footerUl{
    list-style-type: none;
    padding-left: 0px;
}

.footer-pane{
    border-top: 1px solid #20f120;
    padding-top: 20px;
}

.ulLinks{
    margin-top: 15px;
}

.footer-links{
    margin-top: 10px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
.image1 {
    position: relative;
    top: 0;
    left: 0;
}
.image2 {
    position: relative;
    top: -30px;
    left: 11px;
    width: 20px;
}
.image3 {
    position: relative;
    top: 3px;
    left: -36px;
    width: 30px;
}

.nav-item {
    padding: 10px 0;
}

.buttonToggle {
    font-size: 30px;
    margin-right: 30px;
    color: var(--text-primary);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
}

/* Class */
.navBar {
    width: 100%;
    background-color: #111;
    color: white;
    padding: 10px;
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
}

.show-nav {
    height: 120px;
}

.navBg{
    background: var(--background);
}

/* Media screen size */
@media screen and (min-width: 768px) {
    .buttonToggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .nav-item {
        padding: 0 15px;
    }
}
