@charset 'UTF-8';

.footer-pane {
    padding-bottom: 1em;
    background-image: url('/images/ellipse-ligthgreen.svg'),url('/images/ellipse-green.svg');
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: inherit;
    .footer-link {
        padding: 0 1.5em;

        &.copyright {
            padding-right: 0;
            color: $white;
        }
    }

    .footer-site-name {
        padding: 1.5em 0 1em;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.footerText{
    margin: 15px;
}

.footerUl{
    list-style-type: none;
}

.footer-pane{
    border-top: 1px solid #20f120;
    padding-top: 20px;
}

.ulLinks{
    margin-top: 15px;
    margin-left: 0px;
}

.footer-links{
    margin-top: 10px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
.image1 {
    position: relative;
    top: 0;
    left: 0;
}
.image2 {
    position: relative;
    top: -30px;
    left: 11px;
    width: 20px;
}
.image3 {
    position: relative;
    top: 3px;
    left: -36px;
    width: 30px;
}
