.inner-wrap-section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
}

.headerText{
    color: var(--text-primary);
    margin-bottom: 50px;
    margin-top: 100px;
}

.btnPaddingText{
    padding: 20px;
    font-size: 16px;
    margin-top: 50px;
    font-weight: bold;
}

.bgGrey{
    background-color: var(--background);
}

.bodyBgElipseLanding {
    background-image: url('/images/ellipse-ligthgreen.svg'),url('/images/ellipse-green.svg');
    background-position: left top, right top;
}

.homeImage{
    margin-top: 50px;
    margin-bottom: 50px;
}

.knowmore-box{
    border: 1px solid var(--border-div);
    border-radius: 7px;
    background-color: var(--bgDiv);
    margin-top: 20px;
    padding-bottom: 15px;
    color: var(--text-primary);
}

.knowmore-box:hover{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 233, 109, 0.6);
}

.knowmore-box:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 233, 109, 0.6);
}

.inner-wrap-knowmore{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
}

.marginTopBottom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-top-30{
  margin-top: 30px;
  @media (max-width: 768px) {
    margin-top: 5px;
  }
}

.marginTopImg{
  margin-top: 4%;
}

.imgIcons-knowmore{
    width: 57px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.textBold{
    font-weight: bold;
}

.link-knowmore{
    margin-bottom: 15px;
}

.gettingstartedImg{
    width: 80px;
}

.gettingstartedBox{
    border: 1px solid var(--border-div);
    border-radius: 7px;
    background-color: var(--bgDiv);
    margin-top: 10px;
}

.learnmoreBox{
    border: 1px solid var(--border-div);
    border-radius: 7px;
    background-color: var(--bgDiv-transparent);
    margin-top: 10px;
    color: var(--text-primary);
}

.btnLearnText{
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
}

.headerTextGettingStarted{
    color: var(--text-primary);
    margin-bottom: 25px;
}

.removePadding{
    padding-left: 0px;
    padding-right: 0px;
}

.removePaddingRight{
    padding-right: 0px;
}

.removePaddingLeft{
  padding-left: 0px;
}

.btnGettingStartedText{
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
}

.inner-wrap-feedback{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
}

.whiteBackground{
    background-color: var(--bgDiv);
    margin-bottom: 50px;

    @media (max-width: 768px) {
      background-color: transparent;      
    }
}

.headerFeedbackText{
    color: #59d040;
    margin-bottom: 30px;
}

.joinusBox{
    background-image: url('/images/bgProfiles.png');
    border-radius: 7px;
    padding: 40px;
    color: white;
}

.btnNowBgWhite{
    background: white;
    background-size: cover;
    border: 1px solid #44cc4b;
    color: #44cc4b;
    border-radius: 7px !important;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5em;

    @media (max-width: 768px) {
        margin-top: 15px;
    }
}

.relativePostion{
    position: relative;
}

.displayCenter{
    margin-top: 2%;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
}

.btnNowBgWhite:hover{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 233, 109, 0.6);
}

.btnNowBgWhite:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 233, 109, 0.6);
}

.linkText{
    color: white;
}

.feedback-box{
  @media (max-width: 768px) {
    border-radius: 7px;
    background-color: var(--bgDiv);
    margin-top: 20px;
    padding: 20px;
  }
}
//Carousel
.card-container {
    position: relative;
    height: 210px;
  }
  
  .background-block {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .card-container svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
    font-size: 3rem;
  
    color: gray;
  }
  
  .card-container svg:hover {
    cursor: pointer;
    color: blue;
  }
  
  article {
    position: absolute;
    width: 100%;
    height: 100%;
  
    transition: all 1s;
  }
  
  .card {
    position: absolute;
  
    height: 20rem;
    //width: 33em;
  
    margin: 1rem;
  
    //background-color: gray;
  
    //border-radius: 1rem;
  
    //text-align: center;
    text-transform: capitalize;
  
    box-sizing: border-box;
  
    user-select: none;
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  .card img {
    object-fit: cover;
    object-position: top;
    width: 50px;
    pointer-events: none;
  }
  
  .prevCard {
    right: 0;
    opacity: 0;
    z-index: -1;
  }
  
  .activeCard {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nextCard {
    //left: 100%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: -1;
  }
  
  /* Carousel buttons */
  
  .leftBtn {
    left: -1rem;
  }
  
  .rightBtn {
    right: -1rem;
  }
  
  /* Paginator styles */
  .paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -2rem;
    left: 50%;
  
    width: 30%;
    max-width: 30rem;
    height: 2rem;
    margin-left: 45px;

    @media (max-width: 768px) {
      margin-top: 50px;
    }
  }
  
  .hr {
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: gray;
  }
  
  .dot {
    height: 0.5rem;
    width: 0.5rem;
  
    border-radius: 50%;
  
    background-color: #36c953;
    z-index: 1;
  
    transition: all 1s;
  }
  
  .dot:hover {
    cursor: pointer;
  }
  
  .dot.active {
    box-shadow: 0 0 0 4px #36c953;
    background-color: white;
  }

  .starImage{
      width: 8em !important;
      height: 5rem !important;
      object-fit: contain !important;
  }

  .qouteImage{
    width: 3.5em !important;
    object-fit: contain !important;
}
  .textPaddingCard{
      padding-left: 15px;
      color: var(--seconday-headers);
  }

  .nameTextCard{
      color: #66d338;
      font-size: 16px;
      font-weight: bold;
  }
  @media screen and (max-width: 425px) {
    .container {
      width: 100%;
      overflow: hidden;
    }
  
    .card-container {
      width: 80%;
    }
  
    .prevCard {
      left: -35%;
    }
  
    .nextCard {
      left: 135%;
    }
  }

  .getStartPrimaryText{
    color: var(--text-primary);
  }

  .getSecondaryText{
    color: var(--seconday-headers);
  }

  .img-profile{
    width: 15%;
    margin-right: 10px;
  }

  .menu-align{
    vertical-align: middle;
  }

  .img-cover{
    height: 300px;
    border-radius: 7px;

    @media (max-width: 768px) {
      height: 250px;      
    }
  }

  .profile-div{
    position: absolute;
    left: 25.5%;
    top: 13.5em;

    @media (max-width: 1150px) {
      left: 33%;
      top: 1%;
    }

    @media (max-width: 768px) {
        left: 33%;
        top: 1%;
    }

    @media (max-width: 600px) {
      left: 10%;
      top: 1%;
    }
  }

  .bodyBgElipseProfile {
    background-image: url('/images/ellipse-ligthgreen.svg'),url('/images/ellipse-green.svg');
    background-position: left top, right top;
  }

  .profile-details-box{
    border-radius: 8px;
    background: linear-gradient(45deg, #424242cc, #303466b5);
    color: #ffffff;
    margin-top: -3px;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .profile-menu-box{
    border-radius: 8px;
    background: linear-gradient(45deg, #424242cc, #303466b5);
    color: #ffffff;
    text-align: center;
  }

  .profile-menu-box-mobile{
    border-radius: 8px;
    background:var(--bgDiv);
    color: #ffffff;
    text-align: center;
    @media (max-width: 768px) {
      border-radius: 0px;
    }
  }

  .profile-menu-icon{
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .profile-menu-icon:hover{
    background: linear-gradient(45deg, #363535dc, #303466b5);
  }

  .profile-count-box{
    color: #ffffff;
    text-align: right;
  }

  .profile-img-box{
    border: 1px solid #3170dd;
    border-radius: 50%;
    width: 100%;
    max-width: 70px;
  }

  .profile-img-div{
    padding-top: 3%;
    padding-left: 0%;
    margin-right: 5px;

    @media (max-width: 1150px) {
      padding-top: 1%;
      display: flex;
      align-items: center;
    }

    @media (max-width: 768px) {
      padding-top: 1%;
      display: flex;
      align-items: center;
    }
  }

  .chat-box{
    border-radius: 7px;
    background-color: var(--bgDiv);
    padding-bottom: 10px;
  }

  .chat-img{
    width: 100%;
    max-width: 45px;
    height: auto;
  }

  .chat-setting{
    text-align: end;
  }

  .chat-hover:hover{
    border-radius: 7px;
    border-right: 5px solid #2fff43;
    background-color: #7c78782b;
  }

  .btn-margin-right{
    margin-right: 9px;
    padding: 9px;

    @media (max-width: 768px) {
      padding: 0px;
    }
  }

  .btn-padding{
    padding: 9px;
  }

  .padding-top-share{
    padding-top: 5px;
  }

  .margin-top-share{
    padding-top: 5px;
  }

  .padding-top-share-icons{
    padding-top: 4px;
  }

  .icon-margin-right{
    margin-right: 8px;
  }

  .share-input{
    border-color: transparent;
    background-color: transparent;
    color: var(--text-primary);
  }

  .share-div{
    background: var(--bgDiv);
    border-radius: 7px;
    padding: 5px;
    margin-top: 5px;

    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }

  .share-div-input{
    margin-top: 10px;
  }

  .share-select{
    background: #7c787815;
    border-radius: 7px;
    border-color: transparent;
    padding: 8px;
    color: var(--text-primary);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  .share-img{
    width: 60%;
    max-width: 45px;
    height: auto;
  }

  .post-div{
    background: var(--bgDiv);
    border-radius: 7px;
    padding: 10px;
  }

  .post-img{
    border:1px solid #31dd48;
    border-radius: 50%;
    margin-top: 4px;
    width: 100%;
    max-width: 60px;
    height: auto;
  }

  .done-div{
    width: 25px;
    height: 25px;
    background-color: #31dd4871;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    display: flex;
    margin-left: 35px;
    margin-right: 15px;
  }

  .undone-div{
    width: 25px;
    height: 25px;
    background-color: #31dd48;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    display: flex;
    margin-left: 35px;
    margin-right: 15px;
  }

  .undone-img{
    border-radius: 50%;
    padding-left: 3px;
  }

  .margin-top-4{
    margin-top: 4px;
  }

  .margin-top-10{
    margin-top: 10px;
  }

.completion-box-bg{
  background: #cafdc086;
  position: relative;
  border-radius: 7px 7px 0px 0px;
}

.completion-img{
  border-radius: 8px 0px 0px 0px;
}


.completion-text{
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  color: #ffffff;

  @media (max-width: 768px) {
    width: 100%;    
  }
}

.completion-div-box{
  border-radius: 7px;
  background-color: var(--bgDiv);
  padding-bottom: 10px;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.competion-text-percent{
  color: #43cc4c;
  text-align: end;
}

.inner-wrap-profile{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  #profileMenu{
    display: none;
  } 
  
  #profileMenuMobile{
    display: block;
  } 

  #buttonsMobile{
    display: block;
    margin-top: 9px;
  } 

  #buttonsDesktop{
    display: none;
  } 

  #selectMobile{
    display: block;
  } 

  #selectDesktop{
    display: none;
  } 

  .width-100{
    width: 100%;
  }
}

@media (min-width: 769px) {
  #profileMenuMobile{
    display: none;
  } 

  #profileMenu{
    display: block;
  } 

  #buttonsMobile{
    display: none;
  } 

  #buttonsDesktop{
    display: block;
  } 

  #selectMobile{
    display: none;
  } 

  #selectDesktop{
    display: block;
  } 
}

.chat-text{
  text-align: end;
  @media (max-width: 768px) {
    width: 100%;    
  }
}

.btn-logout{
  background-color: transparent;
  border: transparent;
  color: var(--text-primary);
  font-size: 14px;
}

.logout-icon{
  vertical-align: bottom;
}

.search-div{
  background-color: #6868683b;
  border-radius: 7px;
  padding: 8px;
  align-items: center;
}

.search-input{
  background-color: transparent;
  border: transparent;
  color: var(--text-primary);
  font-size: 14px;
  width: 100%;
}

.search-icon{
  vertical-align: bottom;
  margin-right: 10px;
  margin-left: 5px;
}

.bg-icons{
  color: var(--text-primary);
  background-color: #6868683b;
  padding: 5px 10px 7px 10px;
  border-radius: 7px;
}

.btneditProfile{
    background-image: url('/images/button-bg.png');
    background-size: contain;
    color: #ffffff;
    border-radius: 20px !important;
}

.btneditProfile:hover{
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 233, 109, 0.6);
  color: #ffffff !important;
}

.btneditProfile:focus{
  background-image: url('/images/button-bg.png');
  background-size: contain;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 233, 109, 0.6);
  color: #ffffff !important;
}

.modal-header-bg{
  background-color: var(--bgDiv) !important;
}

.modal-text{
  color: var(--text-primary) !important;
}