.inner-wrap-section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
}

.headerText{
    color: #0d3d36;
    margin-bottom: 50px;
}

.btnPaddingText{
    padding: 20px;
    font-size: 16px;
    margin-top: 50px;
    font-weight: bold;
}

.nav-item {
    padding: 10px 0;
}

.buttonToggle {
    font-size: 30px;
    margin-right: 30px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
}

/* Class */
.navBar {
    width: 100%;
    background-color: #111;
    color: white;
    padding: 10px;
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
}

.show-nav {
    height: 120px;
}

/* Media screen size */
@media screen and (min-width: 768px) {
    .buttonToggle {
        display: none;
    }

    .links {
        height: auto;
        display: flex;
    }

    .nav-item {
        padding: 0 15px;
    }
}