.inner-wrap-section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
}

.headerText{
    color: #0d3d36;
    margin-bottom: 50px;
}

.btnPaddingText{
    padding: 20px;
    font-size: 16px;
    margin-top: 50px;
    font-weight: bold;
}

.bgGrey{
    background-color: #dbdbdb3b;
}