@media (min-width: 768px) {
	.crypter-menu-desktop {
		display: none;
	}
	.crypter-menu-mobile {
		display: block;
	}
	.crypter-section-desktop {
		display: none;
	}
	.crypter-section-mobile {
		display: block;
	}
	.bookmark-desktop-views {
		display: none;
	}
	.bookmark-mobile-views {
		display: block;
	}
	.profile-header-desktop {
		display: none;
	}
	.profile-header-mobile {
		display: block;
	}
	.crypter-section-profile-desktop {
		display: none;
	}
	.crypter-section-profile-mobile {
		display: block;
	}
	.profile-story-menu-desktop {
		display: none;
	}
	.profile-story-menu-mobile {
		display: block;
	}
	.close-profilestory-desktop {
		display: none;
	}
	.close-profilestory-mobile {
		display: block;
	}
	.create-text-story-desktop {
		display: none;
	}
	.create-text-story-mobile {
		display: block;
	}
	.create-photo-desktop {
		display: none;
	}
	.create-photo-mobile {
		display: block;
	}
	.aspecratio-desktop-view {
		display: none;
	}
	.aspecratio-mobile-view {
		display: block;
	}
	.video-photo-post-viewer-desktop {
		display: none;
	}
	.video-photo-post-viewer-mobile {
		display: block;
	}
	.photo-and-albums-menu-desktop {
		display: none;
	}
	.photo-and-albums-menu-mobile {
		display: block;
	}
	.yourphotosandalbums-desktop {
		display: none;
	}
	.yourphotosandalbums-mobile {
		display: block;
	}
	.mypagepreviews-desktop {
		display: none;
	}
	.mypagepreviews-mobile {
		display: block;
	}
	.mypagetext-desktop {
		display: none;
	}
	.mypagetext-mobile {
		display: block;
	}
	.mypages-icons-desktop {
		display: none;
	}
	.mypages-icons-mobile {
		display: block;
	}
	.mypages-previews-content-dekstop {
		display: none;
	}
	.mypages-previews-content-mobile {
		display: block;
	}
	.getstarted-information-desktop {
		display: none;
	}
	.getstarted-information-mobile {
		display: block;
	}
	.report-information-desktop {
		display: none;
	}
	.report-information-mobile {
		display: block;
	}
	.creategroups-desktop {
		display: none;
	}
	.creategroups-mobile {
		display: block;
	}
	.all-story-desktop {
		display: none;
	}
	.all-story-mobile {
		display: block;
	}
	.all-stories-float-icon-desktop {
		display: none;
	}
	.all-stories-float-icon-mobile {
		display: block;
	}
	.your-story-desktop {
		display: none;
	}
	.your-story-mobile {
		display: block;
	}
	.closeallstory-desktop {
		display: none;
	}
	.closeallstory-mobile {
		display: block;
	}
	.wallets-icons-desktop {
		display: none;
	}
	.wallets-icons-mobile {
		display: block;
	}
	.settings-and-privacy-menu-dekstop {
		display: none;
	}
	.settings-and-privacy-menu-mobile {
		display: block;
	}
	.settings-and-privacy-desktop {
		display: none;
	}
	.settings-and-privacy-mobile {
		display: block;
	}
}
@media (min-width: 320px) {
	.crypter-menu-desktop {
		display: none;
	}
	.crypter-menu-mobile {
		display: block;
	}
	.crypter-section-desktop {
		display: none;
	}
	.crypter-section-mobile {
		display: block;
	}
	.bookmark-desktop-views {
		display: none;
	}
	.bookmark-mobile-views {
		display: block;
	}
	.profile-header-desktop {
		display: none;
	}
	.profile-header-mobile {
		display: block;
	}
	.crypter-section-profile-desktop {
		display: none;
	}
	.crypter-section-profile-mobile {
		display: block;
	}
	.profile-story-menu-desktop {
		display: none;
	}
	.profile-story-menu-mobile {
		display: block;
	}
	.close-profilestory-desktop {
		display: none;
	}
	.close-profilestory-mobile {
		display: block;
	}
	.create-text-story-desktop {
		display: none;
	}
	.create-text-story-mobile {
		display: block;
	}
	.create-photo-desktop {
		display: none;
	}
	.create-photo-mobile {
		display: block;
	}
	.aspecratio-desktop-view {
		display: none;
	}
	.aspecratio-mobile-view {
		display: block;
	}
	.video-photo-post-viewer-desktop {
		display: none;
	}
	.video-photo-post-viewer-mobile {
		display: block;
	}
	.photo-and-albums-menu-desktop {
		display: none;
	}
	.photo-and-albums-menu-mobile {
		display: block;
	}
	.yourphotosandalbums-desktop {
		display: none;
	}
	.yourphotosandalbums-mobile {
		display: block;
	}
	.mypagepreviews-desktop {
		display: none;
	}
	.mypagepreviews-mobile {
		display: block;
	}
	.mypagetext-desktop {
		display: none;
	}
	.mypagetext-mobile {
		display: block;
	}
	.mypages-icons-desktop {
		display: none;
	}
	.mypages-icons-mobile {
		display: block;
	}
	.mypages-previews-content-dekstop {
		display: none;
	}
	.mypages-previews-content-mobile {
		display: block;
	}
	.getstarted-information-desktop {
		display: none;
	}
	.getstarted-information-mobile {
		display: block;
	}
	.report-information-desktop {
		display: none;
	}
	.report-information-mobile {
		display: block;
	}
	.creategroups-desktop {
		display: none;
	}
	.creategroups-mobile {
		display: block;
	}
	.all-story-desktop {
		display: none;
	}
	.all-story-mobile {
		display: block;
	}
	.all-stories-float-icon-desktop {
		display: none;
	}
	.all-stories-float-icon-mobile {
		display: block;
	}
	.your-story-desktop {
		display: none;
	}
	.your-story-mobile {
		display: block;
	}
	.closeallstory-desktop {
		display: none;
	}
	.closeallstory-mobile {
		display: block;
	}
	.wallets-icons-desktop {
		display: none;
	}
	.wallets-icons-mobile {
		display: block;
	}
	.settings-and-privacy-menu-dekstop {
		display: none;
	}
	.settings-and-privacy-menu-mobile {
		display: block;
	}
	.settings-and-privacy-desktop {
		display: none;
	}
	.settings-and-privacy-mobile {
		display: block;
	}
}
@media (min-width: 280px) {
	.crypter-menu-desktop {
		display: none;
	}
	.crypter-menu-mobile {
		display: block;
	}
	.crypter-section-desktop {
		display: none;
	}
	.crypter-section-mobile {
		display: block;
	}
	.bookmark-desktop-views {
		display: none;
	}
	.bookmark-mobile-views {
		display: block;
	}
	.profile-header-desktop {
		display: none;
	}
	.profile-header-mobile {
		display: block;
	}
	.crypter-section-profile-desktop {
		display: none;
	}
	.crypter-section-profile-mobile {
		display: block;
	}
	.profile-story-menu-desktop {
		display: none;
	}
	.profile-story-menu-mobile {
		display: block;
	}
	.close-profilestory-desktop {
		display: none;
	}
	.close-profilestory-mobile {
		display: block;
	}
	.create-text-story-desktop {
		display: none;
	}
	.create-text-story-mobile {
		display: block;
	}
	.create-photo-desktop {
		display: none;
	}
	.create-photo-mobile {
		display: block;
	}
	.aspecratio-desktop-view {
		display: none;
	}
	.aspecratio-mobile-view {
		display: block;
	}
	.video-photo-post-viewer-desktop {
		display: none;
	}
	.video-photo-post-viewer-mobile {
		display: block;
	}
	.photo-and-albums-menu-desktop {
		display: none;
	}
	.photo-and-albums-menu-mobile {
		display: block;
	}
	.yourphotosandalbums-desktop {
		display: none;
	}
	.yourphotosandalbums-mobile {
		display: block;
	}
	.mypagepreviews-desktop {
		display: none;
	}
	.mypagepreviews-mobile {
		display: block;
	}
	.mypagetext-desktop {
		display: none;
	}
	.mypagetext-mobile {
		display: block;
	}
	.mypages-icons-desktop {
		display: none;
	}
	.mypages-icons-mobile {
		display: block;
	}
	.mypages-previews-content-dekstop {
		display: none;
	}
	.mypages-previews-content-mobile {
		display: block;
	}
	.getstarted-information-desktop {
		display: none;
	}
	.getstarted-information-mobile {
		display: block;
	}
	.report-information-desktop {
		display: none;
	}
	.report-information-mobile {
		display: block;
	}
	.creategroups-desktop {
		display: none;
	}
	.creategroups-mobile {
		display: block;
	}
	.all-story-desktop {
		display: none;
	}
	.all-story-mobile {
		display: block;
	}
	.all-stories-float-icon-desktop {
		display: none;
	}
	.all-stories-float-icon-mobile {
		display: block;
	}
	.your-story-desktop {
		display: none;
	}
	.your-story-mobile {
		display: block;
	}
	.closeallstory-desktop {
		display: none;
	}
	.closeallstory-mobile {
		display: block;
	}
	.wallets-icons-desktop {
		display: none;
	}
	.wallets-icons-mobile {
		display: block;
	}
	.settings-and-privacy-menu-dekstop {
		display: none;
	}
	.settings-and-privacy-menu-mobile {
		display: block;
	}
	.settings-and-privacy-desktop {
		display: none;
	}
	.settings-and-privacy-mobile {
		display: block;
	}
}
@media (min-width: 180px) {
	.crypter-menu-desktop {
		display: none;
	}
	.crypter-menu-mobile {
		display: block;
	}
	.crypter-section-desktop {
		display: none;
	}
	.crypter-section-mobile {
		display: block;
	}
	.bookmark-desktop-views {
		display: none;
	}
	.bookmark-mobile-views {
		display: block;
	}
	.profile-header-desktop {
		display: none;
	}
	.profile-header-mobile {
		display: block;
	}
	.crypter-section-profile-desktop {
		display: none;
	}
	.crypter-section-profile-mobile {
		display: block;
	}
	.profile-story-menu-desktop {
		display: none;
	}
	.profile-story-menu-mobile {
		display: block;
	}
	.close-profilestory-desktop {
		display: none;
	}
	.close-profilestory-mobile {
		display: block;
	}
	.create-text-story-desktop {
		display: none;
	}
	.create-text-story-mobile {
		display: block;
	}
	.create-photo-desktop {
		display: none;
	}
	.create-photo-mobile {
		display: block;
	}
	.aspecratio-desktop-view {
		display: none;
	}
	.aspecratio-mobile-view {
		display: block;
	}
	.video-photo-post-viewer-desktop {
		display: none;
	}
	.video-photo-post-viewer-mobile {
		display: block;
	}
	.photo-and-albums-menu-desktop {
		display: none;
	}
	.photo-and-albums-menu-mobile {
		display: block;
	}
	.yourphotosandalbums-desktop {
		display: none;
	}
	.yourphotosandalbums-mobile {
		display: block;
	}
	.mypagepreviews-desktop {
		display: none;
	}
	.mypagepreviews-mobile {
		display: block;
	}
	.mypagetext-desktop {
		display: none;
	}
	.mypagetext-mobile {
		display: block;
	}
	.mypages-icons-desktop {
		display: none;
	}
	.mypages-icons-mobile {
		display: block;
	}
	.mypages-previews-content-dekstop {
		display: none;
	}
	.mypages-previews-content-mobile {
		display: block;
	}
	.getstarted-information-desktop {
		display: none;
	}
	.getstarted-information-mobile {
		display: block;
	}
	.report-information-desktop {
		display: none;
	}
	.report-information-mobile {
		display: block;
	}
	.creategroups-desktop {
		display: none;
	}
	.creategroups-mobile {
		display: block;
	}
	.all-story-desktop {
		display: none;
	}
	.all-story-mobile {
		display: block;
	}
	.all-stories-float-icon-desktop {
		display: none;
	}
	.all-stories-float-icon-mobile {
		display: block;
	}
	.your-story-desktop {
		display: none;
	}
	.your-story-mobile {
		display: block;
	}
	.closeallstory-desktop {
		display: none;
	}
	.closeallstory-mobile {
		display: block;
	}
	.wallets-icons-desktop {
		display: none;
	}
	.wallets-icons-mobile {
		display: block;
	}
	.settings-and-privacy-menu-dekstop {
		display: none;
	}
	.settings-and-privacy-menu-mobile {
		display: block;
	}
	.settings-and-privacy-desktop {
		display: none;
	}
	.settings-and-privacy-mobile {
		display: block;
	}
}
@media (min-width: 1280px) {
	.crypter-menu-desktop {
		display: block;
	}
	.crypter-menu-mobile {
		display: none;
	}
	.crypter-section-desktop {
		display: block;
	}
	.crypter-section-mobile {
		display: none;
	}
	.bookmark-desktop-views {
		display: block;
	}
	.bookmark-mobile-views {
		display: none;
	}
	.profile-header-desktop {
		display: block;
	}
	.profile-header-mobile {
		display: none;
	}
	.crypter-section-profile-desktop {
		display: block;
	}
	.crypter-section-profile-mobile {
		display: none;
	}
	.profile-story-menu-desktop {
		display: block;
	}
	.profile-story-menu-mobile {
		display: none;
	}
	.close-profilestory-desktop {
		display: block;
	}
	.close-profilestory-mobile {
		display: none;
	}
	.create-text-story-desktop {
		display: block;
	}
	.create-text-story-mobile {
		display: none;
	}
	.create-photo-desktop {
		display: block;
	}
	.create-photo-mobile {
		display: none;
	}
	.aspecratio-desktop-view {
		display: block;
	}
	.aspecratio-mobile-view {
		display: none;
	}
	.video-photo-post-viewer-desktop {
		display: block;
	}
	.video-photo-post-viewer-mobile {
		display: none;
	}
	.photo-and-albums-menu-desktop {
		display: block;
	}
	.photo-and-albums-menu-mobile {
		display: none;
	}
	.yourphotosandalbums-desktop {
		display: block;
	}
	.yourphotosandalbums-mobile {
		display: none;
	}
	.mypagepreviews-desktop {
		display: block;
	}
	.mypagepreviews-mobile {
		display: none;
	}
	.mypagetext-desktop {
		display: block;
	}
	.mypagetext-mobile {
		display: none;
	}
	.mypages-icons-desktop {
		display: block;
	}
	.mypages-icons-mobile {
		display: none;
	}
	.mypages-previews-content-dekstop {
		display: block;
	}
	.mypages-previews-content-mobile {
		display: none;
	}
	.getstarted-information-desktop {
		display: block;
	}
	.getstarted-information-mobile {
		display: none;
	}
	.report-information-desktop {
		display: block;
	}
	.report-information-mobile {
		display: none;
	}
	.creategroups-desktop {
		display: block;
	}
	.creategroups-mobile {
		display: none;
	}
	.all-story-desktop {
		display: block;
	}
	.all-story-mobile {
		display: none;
	}
	.all-stories-float-icon-desktop {
		display: block;
	}
	.all-stories-float-icon-mobile {
		display: none;
	}
	.your-story-desktop {
		display: block;
	}
	.your-story-mobile {
		display: none;
	}
	.closeallstory-desktop {
		display: block;
	}
	.closeallstory-mobile {
		display: none;
	}
	.wallets-icons-desktop {
		display: block;
	}
	.wallets-icons-mobile {
		display: none;
	}
	.settings-and-privacy-menu-dekstop {
		display: block;
	}
	.settings-and-privacy-menu-mobile {
		display: none;
	}
	.settings-and-privacy-desktop {
		display: block;
	}
	.settings-and-privacy-mobile {
		display: none;
	}
}
@media (min-width: 1024px) {
	.crypter-menu-desktop {
		display: block;
	}
	.crypter-menu-mobile {
		display: none;
	}
	.crypter-section-desktop {
		display: block;
	}
	.crypter-section-mobile {
		display: none;
	}
	.bookmark-desktop-views {
		display: block;
	}
	.bookmark-mobile-views {
		display: none;
	}
	.profile-header-desktop {
		display: block;
	}
	.profile-header-mobile {
		display: none;
	}
	.crypter-section-profile-desktop {
		display: block;
	}
	.crypter-section-profile-mobile {
		display: none;
	}
	.profile-story-menu-desktop {
		display: block;
	}
	.profile-story-menu-mobile {
		display: none;
	}
	.close-profilestory-desktop {
		display: block;
	}
	.close-profilestory-mobile {
		display: none;
	}
	.create-text-story-desktop {
		display: block;
	}
	.create-text-story-mobile {
		display: none;
	}
	.create-photo-desktop {
		display: block;
	}
	.create-photo-mobile {
		display: none;
	}
	.aspecratio-desktop-view {
		display: block;
	}
	.aspecratio-mobile-view {
		display: none;
	}
	.video-photo-post-viewer-desktop {
		display: block;
	}
	.video-photo-post-viewer-mobile {
		display: none;
	}
	.photo-and-albums-menu-desktop {
		display: block;
	}
	.photo-and-albums-menu-mobile {
		display: none;
	}
	.yourphotosandalbums-desktop {
		display: block;
	}
	.yourphotosandalbums-mobile {
		display: none;
	}
	.mypagepreviews-desktop {
		display: block;
	}
	.mypagepreviews-mobile {
		display: none;
	}
	.mypagetext-desktop {
		display: block;
	}
	.mypagetext-mobile {
		display: none;
	}
	.mypages-icons-desktop {
		display: block;
	}
	.mypages-icons-mobile {
		display: none;
	}
	.mypages-previews-content-dekstop {
		display: block;
	}
	.mypages-previews-content-mobile {
		display: none;
	}
	.getstarted-information-desktop {
		display: block;
	}
	.getstarted-information-mobile {
		display: none;
	}
	.report-information-desktop {
		display: block;
	}
	.report-information-mobile {
		display: none;
	}
	.creategroups-desktop {
		display: block;
	}
	.creategroups-mobile {
		display: none;
	}
	.all-story-desktop {
		display: block;
	}
	.all-story-mobile {
		display: none;
	}
	.all-stories-float-icon-desktop {
		display: block;
	}
	.all-stories-float-icon-mobile {
		display: none;
	}
	.your-story-desktop {
		display: block;
	}
	.your-story-mobile {
		display: none;
	}
	.closeallstory-desktop {
		display: block;
	}
	.closeallstory-mobile {
		display: none;
	}
	.wallets-icons-desktop {
		display: block;
	}
	.wallets-icons-mobile {
		display: none;
	}
	.settings-and-privacy-menu-dekstop {
		display: block;
	}
	.settings-and-privacy-menu-mobile {
		display: none;
	}
	.settings-and-privacy-desktop {
		display: block;
	}
	.settings-and-privacy-mobile {
		display: none;
	}
}