.next-arrow-story {
    color: var(--text-primary);
    font-size: 14px;
    float: right;
    text-align: center;
    background: #7DCE58;
    border-radius: 50%;
    width: 15px;
    margin-top: 30px;
    position: absolute;
    right: 0;
  }

  .onAllstory {
    cursor: pointer;
    color: var(--text-primary);
  }

  .onClickstory {
    cursor: pointer;
  }

  .firstname-title-story {
    font-size: 10px;
    margin: 0px 0px 0px 0px;
  }

  .badges-online-plus {
    background: #7DCE58;
    border: 2px solid #ffffff;
    margin: 36px 0px 0px 0px;
    padding: 3px 3px 3px 3px;
    color: #ffffff;
    width: 24px;
    height: 24px;
    font-size: 11px;
    border-radius: 50%;
  }

  .badges-offline-plus {
    margin: 36px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #ffffff;
    width: 21px;
    height: 21px;
    z-index: 2;
    border-radius: 50%;
  }

  .position-relative{
      position: relative;
  }

  .position-absolute{
      position: absolute;
  }

  .storyImg{
    z-index: 99;
  }
