.next-arrow-story {
    color: var(--text-primary);
    font-size: 14px;
    float: right;
    text-align: center;
  }

  .onAllstory {
    cursor: pointer;
    color: var(--text-primary);
    background: #9cdba9;
    border-radius: 50%;
    width: 15px;
  }