.button-anchor{
    background: transparent;
    background-size: cover;
    color: #44cc4b !important;
    border: transparent;
}

.button-ancho:hover{
    background: transparent;
    background-size: cover;
    color: #44cc4b !important;
    border: transparent;
    border-bottom: 1px solid #44cc4b;
}

/*.button-anchor:hover:after{
    content: ' ';
    background: transparent;
    background-size: cover;
    color: #44cc4b !important;
    display: block;
    position: relative;
    width: 80%;
    left: 10%;
    border-bottom: 1px solid #44cc4b;
    margin-top: 8px;
}*/