.button-anchor{
    background: transparent;
    background-size: cover;
    color: #44cc4b !important;
    border: transparent;
}

.button-anchor:hover:after{
    content: ' ';
    background: transparent;
    background-size: cover;
    color: #44cc4b !important;
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid #44cc4b;
    margin-top: 8px;
}