@font-face{font-family:"KronaOne-Regular";src:url(../../assets/fonts/KronaOne-Regular.ttf)}
@font-face{font-family:"Poppins-SemiBold";src:url(../../assets/fonts/Poppins-SemiBold.ttf)}
@font-face{font-family:"Montserrat-Regular";src:url(../../assets/fonts/Montserrat-Regular.otf)}