@charset 'UTF-8';

html,
body {
    height: 100vh;
}

body {
    position: relative;
    width: 100%;
    background: #ffffffe7;

    &.announcement-bar--fixed {
        padding-top: $announcement-bar-height;
    }

    &.sticky {
        .container-fluid {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
}

*:focus {
    outline: none;
}

.sticky {
    > .channel-view {
        overflow: auto;
        height: 100vh;
        padding: 0 15px;
    }

    .inner-wrap {
        width: 100%;

        > .row {
            &.content {
                min-height: calc(100vh - 89px);

                @media (max-width: 768px) {
                    min-height: calc(100vh - 187px);
                }
            }
        }
    }
}

.help-page {
    overflow: hidden;
    padding: 3em 0;
}

.inner-wrap {
    height: 100%;

    &.sticky {
        overflow: auto;
    }

    > .row {
        &.main {
            position: relative;
            height: 100%;
        }
    }
}

.container-fluid {
    @include pie-clearfix;

    position: relative;
    height: 100%;
}

.channel-view {
    @include clearfix;

    position: relative;
    height: 100%;
    flex: 1;

    #root {
        display: flex;
        flex-direction: column;
    }
}

#channel_view.channel-view {
    background: var(--center-channel-bg);
}

img {
    max-width: 100%;
}

.mainContentRow {
    height: 100%;
}

.divfullheight{
    background-image:url('/images/unsplash.png');
    height: 100vh;
    background-size: cover;
}

.divLogo{
    background-image:url('/images/logoWhite.png');
    background-repeat: no-repeat;
    min-height: 60px;
    height: 60px;
}

.ButtonSignup{
    border-radius: 7px;
    width: 100%;
    height: 90px;
    background-color: $white;
    margin-bottom: 30px;
}

.ButtonSignup:hover{
    border: 2px solid green;
    box-shadow: inset 0 1px 1px rgba(47, 204, 15, 0.438), 0 0 8px rgba(102, 233, 109, 0.6);
}

.ButtonSignup:focus{
    border: 2px solid green;
    box-shadow: inset 0 1px 1px rgba(47, 204, 15, 0.438), 0 0 8px rgba(102, 233, 109, 0.6);
}

.imagePadding{
    padding-top: 22px;
    position: relative;
}

.imagearrowPadding{
    padding-top: 35px;
}

.imageCasePadding{
    position: absolute;
    left: 30px;
    top: 38px;
}

.imagePeoplePadding{
    position: absolute;
    left: 30px;
    top: 38px;
}

.divMarginTop{
    margin-top: 10%;
}